﻿@model Proyecto.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrate";
}

<h2>Registrate</h2>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create una cuenta local</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                <p>Nombres:</p>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <p>Apellidos:</p>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <p>E-mail:</p>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <p>Contraseña:</p>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <p>Confirmar contraseña:</p>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        }
    </div>

    <div class="col-md-4">
        <section id="socialLoginForm">
            <br />
            <img src="~/Fotos/General/beer.gif" class="img-thumbnail" />
            <center><h3>¡Sirvete un trago!</h3></center>
        </section>
    </div>

</div>

    @section Scripts {
        @Scripts.Render("Index")
    }
