﻿@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Fotos/General/favicon.png" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" />
    <title>@ViewBag.Title - Drinking Time</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inicio", "Index", "bebidas", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"> 
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li>@Html.ActionLink("Mis Bebidas", "misbebidas", "bebidas")</li>
                    }
                    @using (Html.BeginForm("buscarbebida", "bebidas", FormMethod.Get, new { @class = "navbar-form navbar-right" }))
                    {
                        <div class="form-group">
                            @Html.TextBox("palabra", "", new { @class = "form-control", @placeholder = "Busqueda..." })
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    } 
                    <li>@Html.ActionLink("Contactanos", "Contact", "Home")</li>
                </ul>
               
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP UDB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
