﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2> 
<br />
<h4>Aplicacion desarrollada para la materia ASP, ciclo 2 año 2016<br />Impartida por el catedratico Jose Mauricio Flores Aviles</h4>
