﻿@{
    ViewBag.Title = "Contactanos";
}
<br />
<h2 style="text-align: center;">Nuestros desarrolladores</h2>  
<br />
 <div class="row">
     <div class="col-md-6">
         <div class="jumbotron" style="text-align:center;">
             <h3>Byron Alexander Galvez Reyes</h3>
             <img src="~/Fotos/General/byron.jpg" style="width:200px; height:200px;" class="img-rounded"/><br />
             <a href="https://www.facebook.com/bgalvezreyes?fref=ts"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
         </div>
     </div>
    <div class="col-md-6">
        <div class="jumbotron" style="text-align: center;">
            <h3>Gabriel Alfonso Rodriguez Solano</h3>
            <img src="~/Fotos/General/gabo.jpg" style="width:200px; height:200px;" class="img-rounded"/><br />
            <a href="https://www.facebook.com/gabo.rodriguez001"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
 </div>