﻿@model IEnumerable<Proyecto.Models.bebidas>

@{
    ViewBag.Title = "Resultado de busqueda";
    int i = 1;
}

<h2>Resultados de busqueda</h2><br /> 
<table class="table">
    @foreach (var item in Model)
    { 
        <div class="col-md-3 well">
            <center><h4>@Html.DisplayFor(modelItem => item.nombre)</h4></center>
            <center><img src="../Fotos/@item.foto" width="200" height="200" class="img-rounded" /></center>
            <center>
                <br /><br />
                @Html.ActionLink("Preparar", "Details", new { id = item.idbebida }, new { @class = "btn btn-success" })
            </center>
        </div>
        if (i == 10) { break; }
        else { i++; }
    }
    </table> 