﻿@model Proyecto.Models.bebidas

@{
    ViewBag.Title = "Crear";
}
	
<h2>Crea un nuevo trago</h2>

<div class="row">
    <div class="col-md-6">
        <br />
        @using (Html.BeginForm("FileUpload", "bebidas", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.foto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="file" id="file" style="width: 100%;" /> <br />
                        @Html.ValidationMessageFor(model => model.foto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ingredientes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ingredientes, new { htmlAttributes = new { @class = "form-control", rows="6" } })
                        @Html.ValidationMessageFor(model => model.ingredientes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.preparacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.preparacion, new { htmlAttributes = new { @class = "form-control", rows="6" } })
                        @Html.ValidationMessageFor(model => model.preparacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Crear" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
        <div class="col-md-6" style="text-align:justify;">
            <h3 style="text-align:center;">Ayudanos a mantener un orden</h3>
            <h4>Los ingredientes separalos por comas, guiones, asteriscos o cualquier otro tipo de caracter.<br /><br />
            Procura no escribir una gran explicacion de como preparar el trago.<br /><br />
            Gracias por ayudarnos :)</h4>
        </div>
   
</div>

<div>
    @Html.ActionLink("Regresar a la lista", "misbebidas", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
