﻿@model Proyecto.Models.bebidas 

@{
    ViewBag.Title = "Details";
}

<h2>Preparacion</h2>

<div>
    <hr />
     <div class="row">
         <div class="col-md-1"></div>
             <div class="col-md-10">
                 <div class="jumbotron" style="text-align:center;">
                     <p>Nombre: @Html.DisplayFor(model => model.nombre)</p><br />
                     <img src='~/Fotos/@Model.foto' style="height:auto; width:auto;" class="img-thumbnail" /><br /><br />
                     <p>Creado por: @Html.DisplayFor(model => model.usuario)</p><br />
                     <p style="text-align:justify;">Ingredientes: @Html.DisplayFor(model => model.ingredientes)</p><br />
                     <p style="text-align:justify;">Preparacion: @Html.DisplayFor(model => model.preparacion)</p><br />
                 </div>
             </div>
         <div class="col-md-1"></div> 
         </div>
</div>
<p> 
    @Html.ActionLink("Volver a la lista", "Index",null, new { @class = "btn btn-primary" })
</p>
