﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<Proyecto.Models.bebidas>

@{
    ViewBag.Title = "Bebidas";
    int i = 1;
}
<h3>¿Buscas algo nuevo?</h3>
<h4>Prueba las bebidas creadas por la comunidad</h4><br />
<table class="table">

    @foreach (var item in Model)
    {
        <div class="col-md-3 well" style="text-align:center;">
            <h4>@Html.DisplayFor(modelItem => item.nombre)</h4>
            <img src="../Fotos/@item.foto" width="200" height="200" class="img-rounded" /> <br /><br />
            <p>Creado por:@Html.DisplayFor(modelItem => item.usuario)</p>
            @Html.ActionLink("Preparar", "Details", new { id = item.idbebida }, new { @class = "btn btn-success" })
        </div>
        if (i == 10) { break; }
        else { i++; }
    }
</table> 
<div class="pagedList">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
 