﻿ 
@model IEnumerable<Proyecto.Models.bebidas> 

@{
    ViewBag.Title = "Mis Bebidas";
    int i = 1;
}

<h2>Mis Bebidas</h2>

<p>
    @Html.ActionLink("Crea un nuevo trago", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    @foreach (var item in Model)
    {
        if (item.usuario == User.Identity.Name)
        {
        <div class="col-md-3 well" style="text-align:center;">
            <h4>@Html.DisplayFor(modelItem => item.nombre)</h4>
            <img src="../Fotos/@item.foto" width="200" height="200" class="img-rounded" /> <br /><br />
            <p>Creado por:@Html.DisplayFor(modelItem => item.usuario)</p> 
            @Html.ActionLink("Editar", "Edit", new { id = item.idbebida }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Preparar", "Details", new { id = item.idbebida }, new { @class = "btn btn-success" }) 
            @Html.ActionLink("Borrar", "Delete", new { id = item.idbebida }, new { @class = "btn btn-danger" })
        </div>
            if (i == 10) { break; }
            else { i++; }
        }
    }
</table> 
 